Repository govuk-one-login/performance-testing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers, @govuk-one-login/bravo-team, @govuk-one-login/btm, @govuk-one-login/kiwi-devs, @govuk-one-login/cri-lime-team, @govuk-one-login/cri-orange-team, @govuk-one-login/fraud-ssf-team, @govuk-one-login/core-team, @govuk-one-login/mobile-id-check-backend, @govuk-one-login/trust-and-reuse-team, @govuk-one-login/txma-team

.github/CODEOWNERS:

# Global owners
* @govuk-one-login/dev-platform @govuk-one-login/performance-testers

# Test Scripts
/deploy/scripts @govuk-one-login/performance-testers

# Team Specific Test Script Directories
/deploy/scripts/src/accounts @govuk-one-login/performance-testers @govuk-one-login/bravo-team
/deploy/scripts/src/authentication @govuk-one-login/performance-testers
/deploy/scripts/src/btm @govuk-one-login/performance-testers @govuk-one-login/btm
/deploy/scripts/src/cri-kiwi @govuk-one-login/performance-testers @govuk-one-login/kiwi-devs
/deploy/scripts/src/cri-lime @govuk-one-login/performance-testers @govuk-one-login/cri-lime-team
/deploy/scripts/src/cri-orange @govuk-one-login/performance-testers @govuk-one-login/cri-orange-team
/deploy/scripts/src/fraud @govuk-one-login/performance-testers @govuk-one-login/fraud-ssf-team
/deploy/scripts/src/ipv-core @govuk-one-login/performance-testers @govuk-one-login/core-team
/deploy/scripts/src/mobile @govuk-one-login/performance-testers @govuk-one-login/mobile-id-check-backend
/deploy/scripts/src/spot @govuk-one-login/performance-testers @govuk-one-login/trust-and-reuse-team
/deploy/scripts/src/txma @govuk-one-login/performance-testers @govuk-one-login/txma-team

QA-1846 add I10 spike test profile ESP & Audit
  deploy/scripts/src/txma/clientEnrichment.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/txma-team

QA-1845:Update I10 STS spike profile
  deploy/scripts/src/mobile/sts.ts
  deploy/scripts/src/mobile/sts/testSteps/backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA-1853 Update ID synch V2 signin JSP to 50%
  deploy/scripts/src/mobile-id-check-async/test.ts
Owners: @govuk-one-login/performance-testers

Adhoc load profile for Auth test
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

Add fresh test for passkeys
  deploy/scripts/src/authentication/data/passkeyData.csv
Owners: @govuk-one-login/performance-testers

QA-1858 Remove redundant step from F2F journey
  deploy/scripts/src/cri-kiwi/f2f-cic.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

Correct the target for Sign Up
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

QA-1859:StatusList I10 Spike Profile update
  deploy/scripts/src/mobile/statusList.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA-1862 f2f - re-include iter counter + fixes
  deploy/scripts/src/cri-kiwi/f2f-cic.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

Add spike test profile for Address scenarios
  deploy/scripts/src/cri-orange/address.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

QA-1863 TICF- Align signUp with iteration plan
  deploy/scripts/src/fraud/ticf.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

QA-1864: Fix incorrect groupmap index
  deploy/scripts/src/mobile/statusList.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Update TxMA Event Generation Approach
  deploy/scripts/src/common/requestGenerator/txmaReqGen.ts
  deploy/scripts/src/txma/clientEnrichment.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/txma-team

Remove debug and commented statements
  deploy/scripts/src/txma/clientEnrichment.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/txma-team

QA-1770: uplift codebuild host kernel to Amazon Linux 2023
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

QA-1863 TICF I10 real profiles & dataCreation
  deploy/scripts/src/fraud/data/provedUsers.csv
  deploy/scripts/src/fraud/data/signedUpUsers.csv
  deploy/scripts/src/fraud/ticf.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

QA-1863 TICF I10 real profiles & dataCreation
  deploy/scripts/src/fraud/ticf.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

Add draft script for DVS user journeys
  deploy/scripts/src/mobile/dvs.ts
  deploy/scripts/src/mobile/dvs/config.ts
  deploy/scripts/src/mobile/dvs/utils.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Add environment variable path in CF template
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Fix Sonarcube errors with CBOR Decoder
  deploy/scripts/src/mobile/dvs.ts
  deploy/scripts/src/mobile/dvs/utils.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Add load profiles for 20 and 40 DVS
  deploy/scripts/src/mobile/dvs.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Remove debug statements
  deploy/scripts/src/mobile/dvs.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Update load profiles
  deploy/scripts/src/mobile/dvs.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend
