Repository govuk-one-login/performance-testing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers, @govuk-one-login/bravo-team, @govuk-one-login/btm, @govuk-one-login/kiwi-devs, @govuk-one-login/cri-lime-team, @govuk-one-login/cri-orange-team, @govuk-one-login/fraud-ssf-team, @govuk-one-login/core-team, @govuk-one-login/mobile-id-check-backend, @govuk-one-login/trust-and-reuse-team, @govuk-one-login/txma-team

.github/CODEOWNERS:

# Global owners
* @govuk-one-login/dev-platform @govuk-one-login/performance-testers

# Test Scripts
/deploy/scripts @govuk-one-login/performance-testers

# Team Specific Test Script Directories
/deploy/scripts/src/accounts @govuk-one-login/performance-testers @govuk-one-login/bravo-team
/deploy/scripts/src/authentication @govuk-one-login/performance-testers
/deploy/scripts/src/btm @govuk-one-login/performance-testers @govuk-one-login/btm
/deploy/scripts/src/cri-kiwi @govuk-one-login/performance-testers @govuk-one-login/kiwi-devs
/deploy/scripts/src/cri-lime @govuk-one-login/performance-testers @govuk-one-login/cri-lime-team
/deploy/scripts/src/cri-orange @govuk-one-login/performance-testers @govuk-one-login/cri-orange-team
/deploy/scripts/src/fraud @govuk-one-login/performance-testers @govuk-one-login/fraud-ssf-team
/deploy/scripts/src/ipv-core @govuk-one-login/performance-testers @govuk-one-login/core-team
/deploy/scripts/src/mobile @govuk-one-login/performance-testers @govuk-one-login/mobile-id-check-backend
/deploy/scripts/src/spot @govuk-one-login/performance-testers @govuk-one-login/trust-and-reuse-team
/deploy/scripts/src/txma @govuk-one-login/performance-testers @govuk-one-login/txma-team

Remove unused config object
  deploy/scripts/src/mobile/utils/config.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Remove environment variable path from Codebuild build spec
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Add babel as dependency and update Jest config
  koa-stub/src/package-lock.json
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Add babel config
  koa-stub/src/babel.config.json
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Package.json update
  koa-stub/src/package.json
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Refactor controllers and associated functions to use openid-client v6
  koa-stub/src/controllers/callback.controller.js
  koa-stub/src/controllers/logout.controller.js
  koa-stub/src/controllers/start.controller.js
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Update One Login util.js
  koa-stub/src/utils/onelogin.util.js
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Update test
  koa-stub/src/tests/app.test.js
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Update the error message assertion
  koa-stub/src/tests/app.test.js
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

QA-1679 Add I9 Stress Test Load profile for ESP
  deploy/scripts/src/txma/clientEnrichment.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/txma-team

Corrected Target throughput value
  deploy/scripts/src/txma/clientEnrichment.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/txma-team

QA-1682:I9 Soak test profile update for IPVCore
  deploy/scripts/src/common/utils/config/load-profiles.ts
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

Update event payload as per latest guidance
  deploy/scripts/src/common/requestGenerator/txmaReqFormat.ts
  deploy/scripts/src/common/requestGenerator/txmaReqGen.ts
  deploy/scripts/src/txma/clientEnrichment.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/txma-team

Refactor I4 peak test functions and create separate function for soak
  deploy/scripts/src/common/utils/config/load-profiles.ts
Owners: @govuk-one-login/performance-testers

Revert "[QA-1678]: Update koa stub to migrate openid-client to v6 in the performance-testing repo"
  koa-stub/src/babel.config.json
  koa-stub/src/controllers/callback.controller.js
  koa-stub/src/controllers/logout.controller.js
  koa-stub/src/controllers/start.controller.js
  koa-stub/src/package-lock.json
  koa-stub/src/package.json
  koa-stub/src/tests/app.test.js
  koa-stub/src/utils/onelogin.util.js
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Revert "Revert "[QA-1678]: Update koa stub to migrate openid-client to v6 in the performance-testing repo""
  koa-stub/src/babel.config.json
  koa-stub/src/controllers/callback.controller.js
  koa-stub/src/controllers/logout.controller.js
  koa-stub/src/controllers/start.controller.js
  koa-stub/src/package-lock.json
  koa-stub/src/package.json
  koa-stub/src/tests/app.test.js
  koa-stub/src/utils/onelogin.util.js
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Add redis failover test profile
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

QA-1690 Add I9 soak test profile for Auth
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

QA-1701 checkHMRC Adhoc peak test profile
  deploy/scripts/src/cri-orange/nino-check.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

Add Profile:Adhoc KBV peak test 20js
  deploy/scripts/src/cri-orange/kbv.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

Update Profile:AdhocKBV peakTest 201 sec rampup
  deploy/scripts/src/cri-orange/kbv.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

QA-1705: cribl High Volume Test
  deploy/scripts/src/common/utils/config/load-profiles.ts
  deploy/scripts/src/trust-and-reuse/spot.ts
Owners: @govuk-one-login/performance-testers

QA-1460 Mobile add Stub call suffix
  deploy/scripts/src/mobile-id-check-async/test.ts
  deploy/scripts/src/mobile/fe-be-combine-e2e.test.ts
  deploy/scripts/src/mobile/mobile-backend.ts
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Add removePasskey scenario to OLH test
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Fix prettier formatting issues
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Reuse Change email function reduced duplicate
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Add Passkey Creation and Sign in with Passkey scripts
  deploy/scripts/src/authentication/data/passkeyCreation.csv
  deploy/scripts/src/authentication/data/passkeySignIn.csv
  deploy/scripts/src/authentication/test.ts
  deploy/scripts/src/authentication/types/xk6-passkeys.d.ts
Owners: @govuk-one-login/performance-testers

Removed excess verifications to reduced duplicates
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Removed contant declaratn to reduced duplicate
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Remove Xs const declaratn to reduced duplicate
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

QA-1745 IPVR FE script changess
  deploy/scripts/src/cri-kiwi/ipvr.ts
  deploy/template.yaml
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs, @govuk-one-login/dev-platform

updated environment variable OIDC stub details
  deploy/scripts/src/cri-kiwi/ipvr.ts
  deploy/template.yaml
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs, @govuk-one-login/dev-platform

Combine Passkey Creation and Passkey Sign In
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

Add type declaration for createAssertionResponse function
  deploy/scripts/src/authentication/types/xk6-passkeys.d.ts
Owners: @govuk-one-login/performance-testers

Delete old data files
  deploy/scripts/src/authentication/data/passkeyCreation.csv
  deploy/scripts/src/authentication/data/passkeySignIn.csv
Owners: @govuk-one-login/performance-testers

Add common data file for Passkey Creation and Passkey Sign in
  deploy/scripts/src/authentication/data/passkeyData.csv
Owners: @govuk-one-login/performance-testers

Update Docker definition to build xk6-passkeys extension
  deploy/Dockerfile
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Update think time and page content validation in Remove Passkey script
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Add passkey script
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Add passkey data creation script
  deploy/scripts/src/authentication/data/passkeyData.csv
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers
