Repository govuk-one-login/performance-testing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers, @govuk-one-login/bravo-team, @govuk-one-login/btm, @govuk-one-login/kiwi-devs, @govuk-one-login/cri-lime-team, @govuk-one-login/cri-orange-team, @govuk-one-login/fraud-ssf-team, @govuk-one-login/core-team, @govuk-one-login/mobile-id-check-backend, @govuk-one-login/trust-and-reuse-team, @govuk-one-login/txma-team

Add Feed back
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

adding comments to ignore CodeQL security alert
  deploy/scripts/src/common/requestGenerator/txmaReqGen.ts
Owners: @govuk-one-login/performance-testers

Remove unnecessary assertions
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Add randomDOB function
  deploy/scripts/src/common/requestGenerator/txmaReqGen.ts
Owners: @govuk-one-login/performance-testers

QA-1733 To reduce ja3_fingerprint string length
  deploy/scripts/src/common/requestGenerator/txmaReqGen.ts
Owners: @govuk-one-login/performance-testers

QA-1734: TiCF SIRA 10 iters per second test
  deploy/scripts/src/fraud/ticf.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

Updated ipvr front end steps
  deploy/scripts/src/cri-kiwi/ipvr.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

Updated Scenario Step names
  deploy/scripts/src/cri-kiwi/ipvr.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

Updated Scenario names
  deploy/scripts/src/cri-kiwi/ipvr.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

Remove statsD output from k6 run command
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Add I10PeakProfile,fix page verification
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

Updated test harness
  koa-stub/src/controllers/callback.controller.js
  koa-stub/src/controllers/logout.controller.js
  koa-stub/src/controllers/start.controller.js
  koa-stub/src/package-lock.json
  koa-stub/src/package.json
  koa-stub/src/tests/__snapshots__/app.test.js.snap
  koa-stub/src/tests/app.test.js
  koa-stub/src/tests/defensive.test.js
  koa-stub/src/tests/setup.js
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

QA-1741 Add cimit Peak test load profile
  deploy/scripts/src/trust-and-reuse/cimit.ts
Owners: @govuk-one-login/performance-testers

QA-1736: Update evcs-sis I10 Peak test profile
  deploy/scripts/src/trust-and-reuse/evcs-sis.ts
Owners: @govuk-one-login/performance-testers

QA-1743:Add Spot I10 peak profile
  deploy/scripts/src/trust-and-reuse/spot.ts
Owners: @govuk-one-login/performance-testers

Change rampup, delay duration, verification msg
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

Update deploy/scripts/src/ipv-core/test.ts
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

Update permissions for PerformanceTester role allow lambda inovcations in TGW sandpit
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Rename existing TGW scenario
  deploy/scripts/src/tgw/test.ts
Owners: @govuk-one-login/performance-testers

Change existing lambda invocation script
  deploy/scripts/src/tgw/test.ts
Owners: @govuk-one-login/performance-testers

Add script to add client lambda invocation
  deploy/scripts/src/tgw/test.ts
Owners: @govuk-one-login/performance-testers

Add smoke test profile for clientLambda function
  deploy/scripts/src/tgw/test.ts
Owners: @govuk-one-login/performance-testers

Add environment variables in Codebuild Buildspec
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Update environment variable name in scripts
  deploy/scripts/src/tgw/test.ts
Owners: @govuk-one-login/performance-testers

Remove content validation from client lambda call
  deploy/scripts/src/tgw/test.ts
Owners: @govuk-one-login/performance-testers

Add Itertion 10 peak test profile for Lime scripts
  deploy/scripts/src/cri-lime/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-lime-team

QA-1755 Add Address Peak test load profile for I10
  deploy/scripts/src/cri-orange/address.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

Updated Rampup of Manual Entry
  deploy/scripts/src/cri-orange/address.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

Update static resource flag in Passport CRI script
  deploy/scripts/src/cri-lime/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-lime-team

AIS Add I10 Peak Load Profile
  deploy/scripts/src/ais/test.ts
Owners: @govuk-one-login/performance-testers

AIS Add delay to profile
  deploy/scripts/src/ais/test.ts
Owners: @govuk-one-login/performance-testers

QA-1363:TechDebt - rename txma test script file
  deploy/scripts/src/txma/clientEnrichment.ts
  deploy/scripts/src/txma/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/txma-team

updated from Signup profile name
  deploy/scripts/src/cri-orange/address.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

QA-1769: Add ticfSIRA2ItersTest profile
  deploy/scripts/src/fraud/ticf.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

Updated based on review comments
  deploy/scripts/src/fraud/ticf.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

Update getUserDetails to fix invalid date
  deploy/scripts/src/cri-lime/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-lime-team

Fix linting issue in CIMIT type utility
  deploy/scripts/src/trust-and-reuse/cimit/request/types.ts
Owners: @govuk-one-login/performance-testers

QA-1747:Adding I10 STS Peak profile
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Add I10 load profile
  deploy/scripts/src/cri-orange/kbv.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

Add Iteration 10 load profile for ID check async
  deploy/scripts/src/mobile-id-check-async/test.ts
Owners: @govuk-one-login/performance-testers

.github/CODEOWNERS:

# Global owners
* @govuk-one-login/dev-platform @govuk-one-login/performance-testers

# Test Scripts
/deploy/scripts @govuk-one-login/performance-testers

# Team Specific Test Script Directories
/deploy/scripts/src/accounts @govuk-one-login/performance-testers @govuk-one-login/bravo-team
/deploy/scripts/src/authentication @govuk-one-login/performance-testers
/deploy/scripts/src/btm @govuk-one-login/performance-testers @govuk-one-login/btm
/deploy/scripts/src/cri-kiwi @govuk-one-login/performance-testers @govuk-one-login/kiwi-devs
/deploy/scripts/src/cri-lime @govuk-one-login/performance-testers @govuk-one-login/cri-lime-team
/deploy/scripts/src/cri-orange @govuk-one-login/performance-testers @govuk-one-login/cri-orange-team
/deploy/scripts/src/fraud @govuk-one-login/performance-testers @govuk-one-login/fraud-ssf-team
/deploy/scripts/src/ipv-core @govuk-one-login/performance-testers @govuk-one-login/core-team
/deploy/scripts/src/mobile @govuk-one-login/performance-testers @govuk-one-login/mobile-id-check-backend
/deploy/scripts/src/spot @govuk-one-login/performance-testers @govuk-one-login/trust-and-reuse-team
/deploy/scripts/src/txma @govuk-one-login/performance-testers @govuk-one-login/txma-team
