Repository govuk-one-login/performance-testing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers, @govuk-one-login/bravo-team, @govuk-one-login/btm, @govuk-one-login/kiwi-devs, @govuk-one-login/cri-lime-team, @govuk-one-login/cri-orange-team, @govuk-one-login/fraud-ssf-team, @govuk-one-login/core-team, @govuk-one-login/mobile-id-check-backend, @govuk-one-login/trust-and-reuse-team, @govuk-one-login/txma-team

IPVR: Corrected profile for I5 Spike test
  deploy/scripts/src/cri-kiwi/ipvr.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

Update correlation approach
  deploy/scripts/src/govuk-app-backend/test.ts
Owners: @govuk-one-login/performance-testers

Remove loop for Refresh Token
  deploy/scripts/src/govuk-app-backend/test.ts
Owners: @govuk-one-login/performance-testers

Add load profiles for soak, spike and stress tests
  deploy/scripts/src/govuk-app-backend/test.ts
Owners: @govuk-one-login/performance-testers

Profile update for combined wallet BE test
  deploy/scripts/src/mobile/mobile-backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

SS Duration updated for getClientAttestation
  deploy/scripts/src/mobile/mobile-backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA-1230 I5 Spike Test profile for Address
  deploy/scripts/src/cri-orange/address.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

Added generateCIs function for data prep
  deploy/scripts/src/cimit/test.ts
Owners: @govuk-one-login/performance-testers

Updated according the review comments 0407
  deploy/scripts/src/cimit/data/getSubjectId.csv
  deploy/scripts/src/cimit/test.ts
Owners: @govuk-one-login/performance-testers

Added five subjectIDs in the data file
  deploy/scripts/src/cimit/data/getSubjectId.csv
Owners: @govuk-one-login/performance-testers

Transaction names & CSV data fetch changed
  deploy/scripts/src/cimit/test.ts
Owners: @govuk-one-login/performance-testers

Changed Group name to match with Scenario name
  deploy/scripts/src/cimit/test.ts
Owners: @govuk-one-login/performance-testers

Corrected SignUp Iteration Counter
  deploy/scripts/src/cimit/test.ts
Owners: @govuk-one-login/performance-testers

Iteration counter updated according to confl Page
  deploy/scripts/src/cimit/test.ts
Owners: @govuk-one-login/performance-testers

STS I5 spike Profile
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Add Spike Profile, test data & rem console stmnt
  deploy/scripts/src/cimit/data/getSubjectId.csv
  deploy/scripts/src/cimit/test.ts
Owners: @govuk-one-login/performance-testers

SignInAPI sceanrio name corrected in spike profile
  deploy/scripts/src/cimit/test.ts
Owners: @govuk-one-login/performance-testers

cimitSignUpAPIs updated to cimitIDProvingAPIs
  deploy/scripts/src/cimit/test.ts
Owners: @govuk-one-login/performance-testers

cimitIDProvingAPIs updated in all profiles
  deploy/scripts/src/cimit/test.ts
Owners: @govuk-one-login/performance-testers

QA-1248: Mobile BE- I5 Spike ProfileUpdate
  deploy/scripts/src/mobile/mobile-backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Add I5 spike test profile for Auth
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

Fix page content issue in Sign In scenario
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

Update - JWT signing approach to use global crypto
  deploy/scripts/src/spot/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/trust-and-reuse-team

GlobalCrypto implementation in CIMIT & JWT scripts
  deploy/scripts/src/cimit/test.ts
  deploy/scripts/src/common/utils/authentication/jwt.ts
Owners: @govuk-one-login/performance-testers

Auth&Orch Fix signIn iteration count
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

Disable static content downloads
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

QA-1260: Iter6 Peak test profile update
  deploy/scripts/src/bravo/vc-storage.ts
Owners: @govuk-one-login/performance-testers

QA-1261 I6 Peak profile and log for data
  deploy/scripts/src/cimit/test.ts
Owners: @govuk-one-login/performance-testers

IPVCore: Add profile for I6 Peak test
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

remove debug statement
  deploy/scripts/src/cimit/test.ts
Owners: @govuk-one-login/performance-testers

Added new steps to the function
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

Update Iteration 6 Peak test load profile
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

QA-1279:Spot I6 Peak profile update
  deploy/scripts/src/spot/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/trust-and-reuse-team

QA-1280 OLH I6 peak test profile
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Added activity hist in Fraud stub call
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

QA-1282 : I6 Peak profile update
  deploy/scripts/src/ais/test.ts
Owners: @govuk-one-login/performance-testers

Update assertion utility to add status 204 check
  deploy/scripts/src/common/utils/checks/assertions.ts
Owners: @govuk-one-login/performance-testers

Add types for Identity Payload
  deploy/scripts/src/sis/request/types.ts
Owners: @govuk-one-login/performance-testers

Add payload generator function
  deploy/scripts/src/sis/request/generator.ts
Owners: @govuk-one-login/performance-testers

Add script for SIS Identity and Invalidate calls
  deploy/scripts/src/sis/test.ts
Owners: @govuk-one-login/performance-testers

.github/CODEOWNERS:

# Global owners
* @govuk-one-login/dev-platform @govuk-one-login/performance-testers

# Test Scripts
/deploy/scripts @govuk-one-login/performance-testers

# Team Specific Test Script Directories
/deploy/scripts/src/accounts @govuk-one-login/performance-testers @govuk-one-login/bravo-team
/deploy/scripts/src/authentication @govuk-one-login/performance-testers
/deploy/scripts/src/btm @govuk-one-login/performance-testers @govuk-one-login/btm
/deploy/scripts/src/cri-kiwi @govuk-one-login/performance-testers @govuk-one-login/kiwi-devs
/deploy/scripts/src/cri-lime @govuk-one-login/performance-testers @govuk-one-login/cri-lime-team
/deploy/scripts/src/cri-orange @govuk-one-login/performance-testers @govuk-one-login/cri-orange-team
/deploy/scripts/src/fraud @govuk-one-login/performance-testers @govuk-one-login/fraud-ssf-team
/deploy/scripts/src/ipv-core @govuk-one-login/performance-testers @govuk-one-login/core-team
/deploy/scripts/src/mobile @govuk-one-login/performance-testers @govuk-one-login/mobile-id-check-backend
/deploy/scripts/src/spot @govuk-one-login/performance-testers @govuk-one-login/trust-and-reuse-team
/deploy/scripts/src/txma @govuk-one-login/performance-testers @govuk-one-login/txma-team
