Repository govuk-one-login/performance-testing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers, @govuk-one-login/bravo-team, @govuk-one-login/btm, @govuk-one-login/kiwi-devs, @govuk-one-login/cri-lime-team, @govuk-one-login/cri-orange-team, @govuk-one-login/fraud-ssf-team, @govuk-one-login/core-team, @govuk-one-login/mobile-id-check-backend, @govuk-one-login/trust-and-reuse-team, @govuk-one-login/txma-team

QA-1506 Add I8 Peak Test Loadprofile for CIC
  deploy/scripts/src/cri-kiwi/f2f-cic.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

STS:Update profiles for I8 Comb Peak test
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

STS:Update profiles for I8 Comb test
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

STS:Update start rate for auth scenario
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

STS:Update exec for accountIntervention scen
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Add parameter store path for STS SQS Queue env var
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Mobile-STS-Auth-UpdateTargetThroughput
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Update parameter in exchangeAuthorizationCode function call
  deploy/scripts/src/mobile/mobile-backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA-1509:I8 Peak profile udpate
  deploy/scripts/src/mobile/mobile-backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

IPVCore:Add Load profile for spike test
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

Update iteration duration for identity
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

QA-1522 Add I8 Peak Test profile for IPVReturn BE
  deploy/scripts/src/cri-kiwi/ipvr.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

QA-1524: ESP & AS I8 profile update
  deploy/scripts/src/txma/clientEnrichment.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/txma-team

QA-1532 Mobile BE Add Peaktest profile
  deploy/scripts/src/mobile/mobile-backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Updated the peak load profile
  deploy/scripts/src/mobile/mobile-backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Keeping one I8 Peak test profile
  deploy/scripts/src/mobile/mobile-backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA-1540:Think Time Changes in IPVR
  deploy/scripts/src/cri-kiwi/ipvr.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

QA-1542 mobile BE I8 Peak test prifle 50 min SS
  deploy/scripts/src/mobile/mobile-backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA-1543:SIS userIdentity I8 Spike profile update
  deploy/scripts/src/sis/test.ts
Owners: @govuk-one-login/performance-testers

QA-1543: Removed identity & invalidate scenarios
  deploy/scripts/src/sis/test.ts
Owners: @govuk-one-login/performance-testers

QA-1544 Add I8 Spike test profile for CIMIT
  deploy/scripts/src/cimit/test.ts
Owners: @govuk-one-login/performance-testers

add k6 orchestrator for EVCS & SIS combined test
  deploy/scripts/src/bravo/orchestrator-evcs-sis-test.ts
Owners: @govuk-one-login/performance-testers

EVCS-SIS Update folder structure
  deploy/scripts/src/trust-and-reuse/cimit.ts
  deploy/scripts/src/trust-and-reuse/cimit/data/getCICData.csv
  deploy/scripts/src/trust-and-reuse/cimit/data/getSubjectId.csv
  deploy/scripts/src/trust-and-reuse/cimit/request/generator.ts
  deploy/scripts/src/trust-and-reuse/cimit/request/types.ts
  deploy/scripts/src/trust-and-reuse/evcs-sis.ts
  deploy/scripts/src/trust-and-reuse/sis.ts
  deploy/scripts/src/trust-and-reuse/sis/utils/requestGenerator.ts
  deploy/scripts/src/trust-and-reuse/sis/utils/types.ts
  deploy/scripts/src/trust-and-reuse/spot.ts
  deploy/scripts/src/trust-and-reuse/spot/request/generator.ts
  deploy/scripts/src/trust-and-reuse/spot/request/types.ts
  deploy/scripts/src/trust-and-reuse/vc-storage.ts
Owners: @govuk-one-login/performance-testers

chore: remove unused test scripts and data files
  deploy/scripts/src/bravo/orchestrator-evcs-sis-test.ts
  deploy/scripts/src/bravo/vc-storage.ts
  deploy/scripts/src/cimit/data/getCICData.csv
  deploy/scripts/src/cimit/data/getSubjectId.csv
  deploy/scripts/src/cimit/request/generator.ts
  deploy/scripts/src/cimit/request/types.ts
  deploy/scripts/src/cimit/test.ts
  deploy/scripts/src/sis/test.ts
  deploy/scripts/src/sis/utils/requestGenerator.ts
  deploy/scripts/src/sis/utils/types.ts
  deploy/scripts/src/spot/request/generator.ts
  deploy/scripts/src/spot/request/types.ts
  deploy/scripts/src/spot/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/trust-and-reuse-team

Update directory references
  deploy/scripts/src/trust-and-reuse/cimit.ts
  deploy/scripts/src/trust-and-reuse/vc-storage.ts
Owners: @govuk-one-login/performance-testers

fix/update evcs-sis script
  deploy/scripts/src/trust-and-reuse/evcs-sis.ts
Owners: @govuk-one-login/performance-testers

Fix linting issue
  deploy/scripts/src/trust-and-reuse/evcs-sis.ts
Owners: @govuk-one-login/performance-testers

Add S3 permissions for Performance Tester Role
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Review comments implemented
  deploy/scripts/src/trust-and-reuse/evcs-sis.ts
  deploy/scripts/src/trust-and-reuse/sis.ts
  deploy/scripts/src/trust-and-reuse/vc-storage.ts
Owners: @govuk-one-login/performance-testers

Added new folder & RT analysis for trx
  deploy/reporting/advanced-reporting/MULTI-SCENARIO-PERF-REPORT-GEN-README.md
  deploy/reporting/advanced-reporting/generate_excel_report.py
  deploy/reporting/advanced-reporting/multi-scenario-performance-report-generator.sh
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Removed previous versions from reporting folder
  deploy/reporting/MULTI-SCENARIO-PERF-REPORT-GEN-README.md
  deploy/reporting/generate_excel_report.py
  deploy/reporting/multi-scenario-performance-report-generator.sh
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

QA-1550 I8 Spike test profile for AIS
  deploy/scripts/src/ais/test.ts
Owners: @govuk-one-login/performance-testers

QA-1549: OLH Spike test profie update
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

QA-1553:I8 Spike profile update for Adress CRI
  deploy/scripts/src/cri-orange/address.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

Fixed-SonarQube Issues
  deploy/reporting/advanced-reporting/multi-scenario-performance-report-generator.sh
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Fixed-Minor issues related to png and user prompts
  deploy/reporting/advanced-reporting/multi-scenario-performance-report-generator.sh
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Use S3 to download test data file
  deploy/scripts/src/common/utils/jslib/aws-s3.d.ts
  deploy/scripts/src/fraud/testDataPoc.ts
  deploy/template.yaml
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team, @govuk-one-login/dev-platform

SPOT: Add I8 Spike test load profile
  deploy/scripts/src/trust-and-reuse/spot.ts
Owners: @govuk-one-login/performance-testers

MobileV1: Add I8 Spike test load profile
  deploy/scripts/src/mobile/fe-be-combine-e2e.test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA-1562 Add I8 Spike Testprofile for FraudCRI
  deploy/scripts/src/cri-lime/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-lime-team

.github/CODEOWNERS:

# Global owners
* @govuk-one-login/dev-platform @govuk-one-login/performance-testers

# Test Scripts
/deploy/scripts @govuk-one-login/performance-testers

# Team Specific Test Script Directories
/deploy/scripts/src/accounts @govuk-one-login/performance-testers @govuk-one-login/bravo-team
/deploy/scripts/src/authentication @govuk-one-login/performance-testers
/deploy/scripts/src/btm @govuk-one-login/performance-testers @govuk-one-login/btm
/deploy/scripts/src/cri-kiwi @govuk-one-login/performance-testers @govuk-one-login/kiwi-devs
/deploy/scripts/src/cri-lime @govuk-one-login/performance-testers @govuk-one-login/cri-lime-team
/deploy/scripts/src/cri-orange @govuk-one-login/performance-testers @govuk-one-login/cri-orange-team
/deploy/scripts/src/fraud @govuk-one-login/performance-testers @govuk-one-login/fraud-ssf-team
/deploy/scripts/src/ipv-core @govuk-one-login/performance-testers @govuk-one-login/core-team
/deploy/scripts/src/mobile @govuk-one-login/performance-testers @govuk-one-login/mobile-id-check-backend
/deploy/scripts/src/spot @govuk-one-login/performance-testers @govuk-one-login/trust-and-reuse-team
/deploy/scripts/src/txma @govuk-one-login/performance-testers @govuk-one-login/txma-team
