Repository govuk-one-login/performance-testing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers, @govuk-one-login/bravo-team, @govuk-one-login/btm, @govuk-one-login/kiwi-devs, @govuk-one-login/cri-lime-team, @govuk-one-login/cri-orange-team, @govuk-one-login/fraud-ssf-team, @govuk-one-login/core-team, @govuk-one-login/mobile-id-check-backend, @govuk-one-login/trust-and-reuse-team, @govuk-one-login/txma-team

.github/CODEOWNERS:

# Global owners
* @govuk-one-login/dev-platform @govuk-one-login/performance-testers

# Test Scripts
/deploy/scripts @govuk-one-login/performance-testers

# Team Specific Test Script Directories
/deploy/scripts/src/accounts @govuk-one-login/performance-testers @govuk-one-login/bravo-team
/deploy/scripts/src/authentication @govuk-one-login/performance-testers
/deploy/scripts/src/btm @govuk-one-login/performance-testers @govuk-one-login/btm
/deploy/scripts/src/cri-kiwi @govuk-one-login/performance-testers @govuk-one-login/kiwi-devs
/deploy/scripts/src/cri-lime @govuk-one-login/performance-testers @govuk-one-login/cri-lime-team
/deploy/scripts/src/cri-orange @govuk-one-login/performance-testers @govuk-one-login/cri-orange-team
/deploy/scripts/src/fraud @govuk-one-login/performance-testers @govuk-one-login/fraud-ssf-team
/deploy/scripts/src/ipv-core @govuk-one-login/performance-testers @govuk-one-login/core-team
/deploy/scripts/src/mobile @govuk-one-login/performance-testers @govuk-one-login/mobile-id-check-backend
/deploy/scripts/src/spot @govuk-one-login/performance-testers @govuk-one-login/trust-and-reuse-team
/deploy/scripts/src/txma @govuk-one-login/performance-testers @govuk-one-login/txma-team

Add environment variables in CF template
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Correct the target for Identity
  deploy/scripts/src/sis/test.ts
Owners: @govuk-one-login/performance-testers

Add kid claim in JWT header in signJWT function
  deploy/scripts/src/common/utils/authentication/jwt.ts
Owners: @govuk-one-login/performance-testers

Update SIS script
  deploy/scripts/src/sis/test.ts
Owners: @govuk-one-login/performance-testers

Update SPOT script
  deploy/scripts/src/spot/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/trust-and-reuse-team

Update CIMIT script
  deploy/scripts/src/cimit/test.ts
Owners: @govuk-one-login/performance-testers

Add env var and parameter store path in CF template
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Removed metadata from Identity Call
  deploy/scripts/src/sis/test.ts
Owners: @govuk-one-login/performance-testers

Update status check for Invalidate function
  deploy/scripts/src/sis/test.ts
Owners: @govuk-one-login/performance-testers

Fix incorrect groupmap reporting
  deploy/scripts/src/cri-lime/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-lime-team

Add a function to validate redirect location
  deploy/scripts/src/common/utils/checks/assertions.ts
Owners: @govuk-one-login/performance-testers

Add redirect location validation and I6 peak test profile
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

QA-1293:TiCF CRI I6 Peak profile update
  deploy/scripts/src/fraud/ticf.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

QA-1295 adds I6 load profile
  deploy/scripts/src/mobile-id-check-async/test.ts
Owners: @govuk-one-login/performance-testers

QA-1300 I6 Regression Load profile for MobileBE
  deploy/scripts/src/mobile/mobile-backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

ESPA-Added Peak and Spike test profile
  deploy/scripts/src/txma/clientEnrichment.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/txma-team

updated the I5 Peak profile to run combined test
  deploy/scripts/src/mobile/mobile-backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

updated the Peak profile for walletCredIssuance
  deploy/scripts/src/mobile/mobile-backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

upd signin Peak profile for walletCredIssuance
  deploy/scripts/src/mobile/mobile-backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Replace webcrypto with crypto in JWT signing utility
  deploy/scripts/src/common/utils/authentication/jwt.ts
Owners: @govuk-one-login/performance-testers

Update SPOT request generator utility
  deploy/scripts/src/spot/request/generator.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/trust-and-reuse-team

Update SPOT script to use global crypto
  deploy/scripts/src/spot/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/trust-and-reuse-team

Update CIMIT script to use global crypto
  deploy/scripts/src/cimit/test.ts
Owners: @govuk-one-login/performance-testers

Update SIS script to use global crypto
  deploy/scripts/src/sis/test.ts
Owners: @govuk-one-login/performance-testers

Update unit tests to use global crypto
  deploy/scripts/src/common/unit-tests.ts
Owners: @govuk-one-login/performance-testers

Update example script to use global crypto
  deploy/scripts/src/examples/generate-keys.ts
Owners: @govuk-one-login/performance-testers

SPOT: Add I6 Spike test profile
  deploy/scripts/src/spot/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/trust-and-reuse-team

QA-1311 evcs adding I6 spike profile
  deploy/scripts/src/bravo/vc-storage.ts
Owners: @govuk-one-login/performance-testers

CIMIT: Add I6 Spike test profile
  deploy/scripts/src/cimit/test.ts
Owners: @govuk-one-login/performance-testers

Update I6 Spike profile to use Spike function
  deploy/scripts/src/cimit/test.ts
Owners: @govuk-one-login/performance-testers

Update I5 Spike profile to use Spike function
  deploy/scripts/src/cimit/test.ts
Owners: @govuk-one-login/performance-testers

Update k6 version in extension
  deploy/Dockerfile
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

SIS: Add I6 Spike test profile
  deploy/scripts/src/sis/test.ts
Owners: @govuk-one-login/performance-testers

Auth: Update page content validation text
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

Auth: Add I6 Spike test profile
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

QA-1323 IPVcore I6 spike test profile
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

OLH: Add I6 Spike test profile
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Update I6 spike test profile and group map for Persist
  deploy/scripts/src/ais/test.ts
Owners: @govuk-one-login/performance-testers

Correct ramp up duration for Retrieve
  deploy/scripts/src/ais/test.ts
Owners: @govuk-one-login/performance-testers

Update k6 version at xk6 extension build stage
  deploy/Dockerfile
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers
