Repository govuk-one-login/performance-testing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers, @govuk-one-login/bravo-team, @govuk-one-login/btm, @govuk-one-login/kiwi-devs, @govuk-one-login/cri-lime-team, @govuk-one-login/cri-orange-team, @govuk-one-login/fraud-ssf-team, @govuk-one-login/core-team, @govuk-one-login/mobile-id-check-backend, @govuk-one-login/trust-and-reuse-team, @govuk-one-login/txma-team

DCMAW-13943: Remove duplicate test step from id check async
  deploy/scripts/src/mobile-id-check-async/test.ts
Owners: @govuk-one-login/performance-testers

QA-1195 Check HMRC Add I5 Peak prof
  deploy/scripts/src/cri-orange/nino-check.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

QA-1196
  deploy/scripts/src/cri-kiwi/BAV.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

QA-1197 Address I5 peak test profile
  deploy/scripts/src/cri-orange/address.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

update rammup
  deploy/scripts/src/cri-orange/address.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

Updated the profile
  deploy/scripts/src/cri-orange/address.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

updated address profile
  deploy/scripts/src/cri-orange/address.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

adjusted percentages rightly
  deploy/scripts/src/cri-orange/address.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

Add script for GovUK App backend
  deploy/scripts/src/govuk-app-backend/test.ts
Owners: @govuk-one-login/performance-testers

updated Profile name
  deploy/scripts/src/cri-orange/address.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

QA-1197-1 corrected the address Peak Test profile
  deploy/scripts/src/cri-orange/address.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

QA-1200
  deploy/scripts/src/mobile/fe-be-combine-e2e.test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Add idCheckAsyncSignIn and dynamic grouping
  deploy/scripts/src/mobile-id-check-async/test.ts
  deploy/scripts/src/mobile-id-check-async/testSteps/getActiveSession.ts
  deploy/scripts/src/mobile-id-check-async/testSteps/getWellKnownJwks.ts
  deploy/scripts/src/mobile-id-check-async/testSteps/postAbortSession.ts
  deploy/scripts/src/mobile-id-check-async/testSteps/postBiometricToken.ts
  deploy/scripts/src/mobile-id-check-async/testSteps/postCredential.ts
  deploy/scripts/src/mobile-id-check-async/testSteps/postFinishBiometricSession.ts
  deploy/scripts/src/mobile-id-check-async/testSteps/postSetupBiometricSessionByScenario.ts
  deploy/scripts/src/mobile-id-check-async/testSteps/postToken.ts
  deploy/scripts/src/mobile-id-check-async/testSteps/postTxmaEvent.ts
Owners: @govuk-one-login/performance-testers

rebase and review comment updated
  deploy/scripts/src/mobile-id-check-async/test.ts
Owners: @govuk-one-login/performance-testers

Removed debug statements and updated script
  deploy/scripts/src/govuk-app-backend/test.ts
Owners: @govuk-one-login/performance-testers

Add env vars and parameter store path
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

removed 1 postTxmaEvent
  deploy/scripts/src/mobile-id-check-async/test.ts
Owners: @govuk-one-login/performance-testers

Add loop for refresh token and limit revoke call
  deploy/scripts/src/govuk-app-backend/test.ts
Owners: @govuk-one-login/performance-testers

Add peak and stress test load profiles
  deploy/scripts/src/govuk-app-backend/test.ts
Owners: @govuk-one-login/performance-testers

Update deploy/scripts/src/mobile-id-check-async/testSteps/getActiveSession.ts
  deploy/scripts/src/mobile-id-check-async/testSteps/getActiveSession.ts
Owners: @govuk-one-login/performance-testers

QA-1200:pageContentCheck update
  deploy/scripts/src/mobile/testSteps/frontend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Updated:review comment from Sandy
  deploy/scripts/src/mobile-id-check-async/test.ts
  deploy/scripts/src/mobile-id-check-async/testSteps/getActiveSession.ts
Owners: @govuk-one-login/performance-testers

Handle dynamic status codes in getActiveSession
  deploy/scripts/src/common/utils/checks/assertions.ts
  deploy/scripts/src/mobile-id-check-async/test.ts
  deploy/scripts/src/mobile-id-check-async/testSteps/getActiveSession.ts
Owners: @govuk-one-login/performance-testers

Fixed linting error
  deploy/scripts/src/common/utils/checks/assertions.ts
Owners: @govuk-one-login/performance-testers

I5 peak:add wait to start manual entry scenrio
  deploy/scripts/src/cri-orange/address.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

Removed sleep from last step of idCheckAsyncSignIn
  deploy/scripts/src/mobile-id-check-async/test.ts
Owners: @govuk-one-login/performance-testers

adding TiCF CRI I5 load profiles
  deploy/scripts/src/fraud/ticf.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

QA-1203
  deploy/scripts/src/cri-kiwi/f2f-cic.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

idCheckAsync: Add profile for I5 Peak test
  deploy/scripts/src/mobile-id-check-async/test.ts
Owners: @govuk-one-login/performance-testers

Adding TxMA I5 load profiles
  deploy/scripts/src/txma/clientEnrichment.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/txma-team

MobileBE: Add profile for I5 Peak test
  deploy/scripts/src/mobile/mobile-backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA-1212 I5 peak test profile for IPVR
  deploy/scripts/src/cri-kiwi/ipvr.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

Adding I5 peak load profile to Mobile STS
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

IPVCore: Add profile for I5 Spike test
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

adding the I5 spike profile for EVCS
  deploy/scripts/src/bravo/vc-storage.ts
Owners: @govuk-one-login/performance-testers

QA-1216:Added SignIn volume - GetContraIndicator
  deploy/scripts/src/cimit/test.ts
Owners: @govuk-one-login/performance-testers

QA-1222 I5 Spike test profile for OLH
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Update Loadprofile to rampdown 120permin for 1sec
  deploy/scripts/src/common/utils/config/load-profiles.ts
Owners: @govuk-one-login/performance-testers

adding I5 SPOT spike load profile
  deploy/scripts/src/spot/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/trust-and-reuse-team

IPVR: Add profile for I5 Spike test
  deploy/scripts/src/cri-kiwi/ipvr.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

.github/CODEOWNERS:

# Global owners
* @govuk-one-login/dev-platform @govuk-one-login/performance-testers

# Test Scripts
/deploy/scripts @govuk-one-login/performance-testers

# Team Specific Test Script Directories
/deploy/scripts/src/accounts @govuk-one-login/performance-testers @govuk-one-login/bravo-team
/deploy/scripts/src/authentication @govuk-one-login/performance-testers
/deploy/scripts/src/btm @govuk-one-login/performance-testers @govuk-one-login/btm
/deploy/scripts/src/cri-kiwi @govuk-one-login/performance-testers @govuk-one-login/kiwi-devs
/deploy/scripts/src/cri-lime @govuk-one-login/performance-testers @govuk-one-login/cri-lime-team
/deploy/scripts/src/cri-orange @govuk-one-login/performance-testers @govuk-one-login/cri-orange-team
/deploy/scripts/src/fraud @govuk-one-login/performance-testers @govuk-one-login/fraud-ssf-team
/deploy/scripts/src/ipv-core @govuk-one-login/performance-testers @govuk-one-login/core-team
/deploy/scripts/src/mobile @govuk-one-login/performance-testers @govuk-one-login/mobile-id-check-backend
/deploy/scripts/src/spot @govuk-one-login/performance-testers @govuk-one-login/trust-and-reuse-team
/deploy/scripts/src/txma @govuk-one-login/performance-testers @govuk-one-login/txma-team
