Repository govuk-one-login/performance-testing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers, @govuk-one-login/bravo-team, @govuk-one-login/btm, @govuk-one-login/kiwi-devs, @govuk-one-login/cri-lime-team, @govuk-one-login/cri-orange-team, @govuk-one-login/fraud-ssf-team, @govuk-one-login/core-team, @govuk-one-login/mobile-id-check-backend, @govuk-one-login/trust-and-reuse-team, @govuk-one-login/txma-team

.github/CODEOWNERS:

# Global owners
* @govuk-one-login/dev-platform @govuk-one-login/performance-testers

# Test Scripts
/deploy/scripts @govuk-one-login/performance-testers

# Team Specific Test Script Directories
/deploy/scripts/src/accounts @govuk-one-login/performance-testers @govuk-one-login/bravo-team
/deploy/scripts/src/authentication @govuk-one-login/performance-testers
/deploy/scripts/src/btm @govuk-one-login/performance-testers @govuk-one-login/btm
/deploy/scripts/src/cri-kiwi @govuk-one-login/performance-testers @govuk-one-login/kiwi-devs
/deploy/scripts/src/cri-lime @govuk-one-login/performance-testers @govuk-one-login/cri-lime-team
/deploy/scripts/src/cri-orange @govuk-one-login/performance-testers @govuk-one-login/cri-orange-team
/deploy/scripts/src/fraud @govuk-one-login/performance-testers @govuk-one-login/fraud-ssf-team
/deploy/scripts/src/ipv-core @govuk-one-login/performance-testers @govuk-one-login/core-team
/deploy/scripts/src/mobile @govuk-one-login/performance-testers @govuk-one-login/mobile-id-check-backend
/deploy/scripts/src/spot @govuk-one-login/performance-testers @govuk-one-login/trust-and-reuse-team
/deploy/scripts/src/txma @govuk-one-login/performance-testers @govuk-one-login/txma-team

Ignoring false secret
  .secrets.baseline
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

QA-1764: Markdown files update
  README.md
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

QA-1762:Migrate pre-commit config to use non-deprecated stage names
  .pre-commit-config.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Updated - deploy/Readme
  deploy/README.md
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

QA-1761 Add static resource bundle in utiliy
  deploy/scripts/src/authentication/test.ts
  deploy/scripts/src/cri-lime/test.ts
  deploy/scripts/src/cri-orange/address.ts
  deploy/scripts/src/cri-orange/utils/config.ts
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-lime-team, @govuk-one-login/cri-orange-team, @govuk-one-login/core-team

QA-1802 update SMS:OTP calls from 50:50 to 90:10
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

QA-1803 add I10 sis useridentity peak test prof
  deploy/scripts/src/trust-and-reuse/sis.ts
Owners: @govuk-one-login/performance-testers

Function argument problems fixed
  deploy/scripts/src/txma/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/txma-team

QA-1810:I10 Peak profile update
  deploy/scripts/src/mobile/mobile-backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Updated other md files
  deploy/reporting/advanced-reporting/INSTALLATION_GUIDE_MACOS.md
  deploy/reporting/advanced-reporting/MULTI-SCENARIO-PERF-REPORT-GEN-README.md
  deploy/scripts/README.md
  deploy/scripts/src/common/utils/README.md
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Update spikeDelay variable name
  deploy/scripts/src/common/utils/config/load-profiles.ts
Owners: @govuk-one-login/performance-testers

Update variable name in the function
  deploy/scripts/src/common/utils/config/load-profiles.ts
Owners: @govuk-one-login/performance-testers

QA-1813:idReuse testdata update
  deploy/scripts/src/ipv-core/data/idReuseTestData.csv
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

Add I10 spike profile to OLH, update page check
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

QA-1817: I10 Spike profile update
  deploy/scripts/src/trust-and-reuse/spot.ts
Owners: @govuk-one-login/performance-testers

Add olh sync function loadprofiles, use in olh
  deploy/scripts/src/common/utils/config/load-profiles.ts
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

QA-1820: Add Iteration 10 spike profile
  deploy/scripts/src/ais/test.ts
Owners: @govuk-one-login/performance-testers

Remove function from loadProfiles, update olh
  deploy/scripts/src/common/utils/config/load-profiles.ts
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

QA-1822: Update I10 Spike Profile to EVCSIS
  deploy/scripts/src/trust-and-reuse/evcs-sis.ts
Owners: @govuk-one-login/performance-testers

QA-1820: Add Iteration 10 spike profile signed
  deploy/scripts/src/ais/test.ts
Owners: @govuk-one-login/performance-testers

Change OLHI3 startRate from 120 t0 36
  deploy/scripts/src/common/utils/config/load-profiles.ts
Owners: @govuk-one-login/performance-testers

QA-1825: I10 Lime spike profile update
  deploy/scripts/src/cri-lime/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-lime-team

Updated phase delays
  deploy/scripts/src/cri-lime/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-lime-team

Update sign in with passkey script
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

Add env var path in CF template
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

QA-1827: Update I10 Spike profile for address
  deploy/scripts/src/cri-orange/address.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

QA-1828: KBV - Add I10 spike profile
  deploy/scripts/src/cri-orange/kbv.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

QA-1829 Add I10 Spike test profile for cimit
  deploy/scripts/src/trust-and-reuse/cimit.ts
Owners: @govuk-one-login/performance-testers

Attempt to combine total address throughput
  deploy/scripts/src/common/utils/config/load-profiles.ts
  deploy/scripts/src/cri-orange/address.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

Use new I10spike test function
  deploy/scripts/src/cri-orange/kbv.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

QA-1831: Update I0 spike profile for mobile v1
  deploy/scripts/src/mobile/fe-be-combine-e2e.test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA-1832: Add I10 spike profile to HMRC Nino Check
  deploy/scripts/src/cri-orange/nino-check.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

QA-1832: Add I10 spike profile to HMRC Nino Check
  deploy/scripts/src/cri-orange/nino-check.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

QA-1834:Add I10 Spike profile to IDCheckAsync
  deploy/scripts/src/mobile-id-check-async/test.ts
Owners: @govuk-one-login/performance-testers

QA-1835 Add I10 spike test profile for BAV
  deploy/scripts/src/cri-kiwi/BAV.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

QA-1834-1:SignUp profile typo fix
  deploy/scripts/src/mobile-id-check-async/test.ts
Owners: @govuk-one-login/performance-testers

SignIn volume update
  deploy/scripts/src/mobile-id-check-async/test.ts
Owners: @govuk-one-login/performance-testers

QA-1840 add I10SpikeProfile to CIC and F2F
  deploy/scripts/src/cri-kiwi/f2f-cic.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

QA-1842: Update I10 spike profile in IPVR script
  deploy/scripts/src/cri-kiwi/ipvr.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

QA-1847 Add I10 Spike test profile for mobile BE
  deploy/scripts/src/mobile/mobile-backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend
