Repository govuk-one-login/performance-testing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers, @govuk-one-login/bravo-team, @govuk-one-login/btm, @govuk-one-login/kiwi-devs, @govuk-one-login/cri-lime-team, @govuk-one-login/cri-orange-team, @govuk-one-login/fraud-ssf-team, @govuk-one-login/core-team, @govuk-one-login/mobile-id-check-backend, @govuk-one-login/trust-and-reuse-team, @govuk-one-login/txma-team

.github/CODEOWNERS:

# Global owners
* @govuk-one-login/dev-platform @govuk-one-login/performance-testers

# Test Scripts
/deploy/scripts @govuk-one-login/performance-testers

# Team Specific Test Script Directories
/deploy/scripts/src/accounts @govuk-one-login/performance-testers @govuk-one-login/bravo-team
/deploy/scripts/src/authentication @govuk-one-login/performance-testers
/deploy/scripts/src/btm @govuk-one-login/performance-testers @govuk-one-login/btm
/deploy/scripts/src/cri-kiwi @govuk-one-login/performance-testers @govuk-one-login/kiwi-devs
/deploy/scripts/src/cri-lime @govuk-one-login/performance-testers @govuk-one-login/cri-lime-team
/deploy/scripts/src/cri-orange @govuk-one-login/performance-testers @govuk-one-login/cri-orange-team
/deploy/scripts/src/fraud @govuk-one-login/performance-testers @govuk-one-login/fraud-ssf-team
/deploy/scripts/src/ipv-core @govuk-one-login/performance-testers @govuk-one-login/core-team
/deploy/scripts/src/mobile @govuk-one-login/performance-testers @govuk-one-login/mobile-id-check-backend
/deploy/scripts/src/spot @govuk-one-login/performance-testers @govuk-one-login/trust-and-reuse-team
/deploy/scripts/src/txma @govuk-one-login/performance-testers @govuk-one-login/txma-team

Ugrade NodeJS version in koa-stub from v20 to v24
  .github/workflows/koa-stub-main.yaml
  .github/workflows/koa-stub-pr.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Add I8 peaktest profile for passkey sceanrios
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Addlint prettier fix
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Update sign in script to fix errors
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

Update environment variable names in Auth script
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

Update environment variable names in OLH script
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Update environment variable and path in CF template
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Update Sign in script to not use Passkey route
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

Remove commented code from Passkey user creation
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

Add load profiles for peak test and data creation
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

Update CF template to keep env vars in alphabetical sequence
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Remove debug statements from the passkey scenario
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

Correct peak test profile functions
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

Add thinktime Update perf006I8PeakTest profile
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Restore I8 Add Iteration10 peakTest profile
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Correct Iter 1O landingpage target Iteration value
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Correct Iter 1O landingpage target Iteration value
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

updated the scenario steps and code
  deploy/scripts/src/cri-kiwi/ipvr.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

Add script to test AMC healthcheck endpoint
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

Update Iteration 10 peak test profile
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

update Iter10PeakTest Profile new requirement
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Refactored OLH script for optimisation
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Move Iteration 10 profile to end of the list
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Update load profile config to add a delay parameter
  deploy/scripts/src/common/utils/config/load-profiles.ts
Owners: @govuk-one-login/performance-testers

Update the volume targets for Auth I10
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

Review comments implemented
  deploy/scripts/src/cri-kiwi/ipvr.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

Updated template yml file
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Update Sign up target volume
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

Fix the proportion of users for Signin with passkey
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

Move Change email,pwd links to ManageSignIn
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Fix debug logs and secret detection issues
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

MoveChange phone n DeleteAcc link to signInDetails
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Restore DeleteAcc link to Security tab
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

QA-1730-TiCF CRI : Build with SIRA
  deploy/scripts/src/common/requestGenerator/txmaReqGen.ts
  deploy/scripts/src/fraud/ticf.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

Updated iteration duration
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Refactor: Generate IP & PN from txmaReqGen and use it in scenarios
  deploy/scripts/src/common/requestGenerator/txmaReqGen.ts
  deploy/scripts/src/fraud/ticf.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

Remove comment,replace return with arrow function
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

QA-1731:Profile with single iteration and user
  deploy/scripts/src/fraud/ticf.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

Clear pragma comment, swap return and arrow funct
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

QA-1732: Updating dynamic birthDate
  deploy/scripts/src/common/requestGenerator/txmaReqGen.ts
Owners: @govuk-one-login/performance-testers
