Repository govuk-one-login/performance-testing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers, @govuk-one-login/bravo-team, @govuk-one-login/btm, @govuk-one-login/kiwi-devs, @govuk-one-login/cri-lime-team, @govuk-one-login/cri-orange-team, @govuk-one-login/fraud-ssf-team, @govuk-one-login/core-team, @govuk-one-login/mobile-id-check-backend, @govuk-one-login/trust-and-reuse-team, @govuk-one-login/txma-team

Remove console statement
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

Identity:Update transaction numbering
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

Add Lambda InvokeFunction permission for TGW Dev account
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Add draft Transit Gateway script
  deploy/scripts/src/tgw/test.ts
Owners: @govuk-one-login/performance-testers

Add env var path in CloudFormation template
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Corrected the order of the variable
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Fix Panda compatibility & Improved documentation
  deploy/reporting/advanced-reporting/INSTALLATION_GUIDE_MACOS.md
  deploy/reporting/advanced-reporting/MULTI-SCENARIO-PERF-REPORT-GEN-README.md
  deploy/reporting/advanced-reporting/generate_excel_report.py
  deploy/reporting/advanced-reporting/multi-scenario-performance-report-generator.sh
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Fix pre-commit hook and sonarqube error
  .pre-commit-config.yaml
  deploy/reporting/advanced-reporting/generate_excel_report.py
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Fix beautysh hook by specifying setuptools version
  .pre-commit-config.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Fix beautysh hook version upgraded
  .pre-commit-config.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Apply beautysh formatting to repgen utility
  deploy/reporting/advanced-reporting/multi-scenario-performance-report-generator.sh
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Use test url(via env var) & update validation
  deploy/scripts/src/tgw/test.ts
  deploy/template.yaml
Owners: @govuk-one-login/performance-testers, @govuk-one-login/dev-platform

Update deploy/scripts/src/tgw/test.ts
  deploy/scripts/src/tgw/test.ts
Owners: @govuk-one-login/performance-testers

added page content check
  deploy/scripts/src/tgw/test.ts
Owners: @govuk-one-login/performance-testers

QA-1615 Spike Test Profile for MobileBE
  deploy/scripts/src/mobile/mobile-backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA-1615 Updated rampup time
  deploy/scripts/src/mobile/mobile-backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA- 1616 MCW STS Added I8 spike test profile
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Fix: corrected src/mobile/sts.ts
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Delete src/mobile/sts.ts
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

STS I8 Spike Profile added PR
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Restore sts.ts with fixes
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Fix indentation in sts.ts
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Fix I8spikeTest SignIn and time unit in sts.ts
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Fix I8spikeTest SignIn and time unit in sts.ts
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Fix Imported createI3SpikeSignI sts.ts
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Update k6 version in the extension build step
  deploy/Dockerfile
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

QA-1620:Add I8 Spike profile to SIS script
  deploy/scripts/src/trust-and-reuse/sis.ts
Owners: @govuk-one-login/performance-testers

QA-1622: I9 Adding Stress test util function
  deploy/scripts/src/common/utils/config/load-profiles.ts
  deploy/scripts/src/cri-kiwi/BAV.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

QA-1626: Add Stress Profile for CIMIT APIs
  deploy/scripts/src/trust-and-reuse/cimit.ts
Owners: @govuk-one-login/performance-testers

Signup scenario correction
  deploy/scripts/src/trust-and-reuse/cimit.ts
Owners: @govuk-one-login/performance-testers

QA-1627 I9 StressTest profile for EVCS and SIS
  deploy/scripts/src/trust-and-reuse/evcs-sis.ts
Owners: @govuk-one-login/performance-testers

Typo correction
  deploy/scripts/src/trust-and-reuse/cimit.ts
Owners: @govuk-one-login/performance-testers

QA-1623: Add I9 StressTest profile to KBV
  deploy/scripts/src/cri-orange/kbv.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

QA-1626: Add Stress Profile for CIMIT APIs
  deploy/scripts/src/trust-and-reuse/cimit.ts
Owners: @govuk-one-login/performance-testers

QA-1627 I9 StressTest profile for EVCS and SIS
  deploy/scripts/src/trust-and-reuse/evcs-sis.ts
Owners: @govuk-one-login/performance-testers

Typo correction
  deploy/scripts/src/trust-and-reuse/cimit.ts
Owners: @govuk-one-login/performance-testers

Signup scenario correction
  deploy/scripts/src/trust-and-reuse/cimit.ts
Owners: @govuk-one-login/performance-testers

QA-1623: Add Iteration8StressTest profile to KBV
  deploy/scripts/src/cri-orange/kbv.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

QA-1623: Corrected I9 stressTest Profile in KBV
  deploy/scripts/src/cri-orange/kbv.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

QA-1623: Fix Prettier formatting in KBV script
  deploy/scripts/src/cri-orange/kbv.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

.github/CODEOWNERS:

# Global owners
* @govuk-one-login/dev-platform @govuk-one-login/performance-testers

# Test Scripts
/deploy/scripts @govuk-one-login/performance-testers

# Team Specific Test Script Directories
/deploy/scripts/src/accounts @govuk-one-login/performance-testers @govuk-one-login/bravo-team
/deploy/scripts/src/authentication @govuk-one-login/performance-testers
/deploy/scripts/src/btm @govuk-one-login/performance-testers @govuk-one-login/btm
/deploy/scripts/src/cri-kiwi @govuk-one-login/performance-testers @govuk-one-login/kiwi-devs
/deploy/scripts/src/cri-lime @govuk-one-login/performance-testers @govuk-one-login/cri-lime-team
/deploy/scripts/src/cri-orange @govuk-one-login/performance-testers @govuk-one-login/cri-orange-team
/deploy/scripts/src/fraud @govuk-one-login/performance-testers @govuk-one-login/fraud-ssf-team
/deploy/scripts/src/ipv-core @govuk-one-login/performance-testers @govuk-one-login/core-team
/deploy/scripts/src/mobile @govuk-one-login/performance-testers @govuk-one-login/mobile-id-check-backend
/deploy/scripts/src/spot @govuk-one-login/performance-testers @govuk-one-login/trust-and-reuse-team
/deploy/scripts/src/txma @govuk-one-login/performance-testers @govuk-one-login/txma-team
