Repository govuk-one-login/performance-testing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers, @govuk-one-login/bravo-team, @govuk-one-login/btm, @govuk-one-login/kiwi-devs, @govuk-one-login/cri-lime-team, @govuk-one-login/cri-orange-team, @govuk-one-login/fraud-ssf-team, @govuk-one-login/core-team, @govuk-one-login/mobile-id-check-backend, @govuk-one-login/trust-and-reuse-team, @govuk-one-login/txma-team

QA-1445 I7 SIS Spike Test profile
  deploy/scripts/src/sis/test.ts
Owners: @govuk-one-login/performance-testers

Add multi-sceanrio perfreport generator
  deploy/reporting/MULTI-SCENARIO-PERF-REPORT-GEN-README.md
  deploy/reporting/generate_excel_report.py
  deploy/reporting/multi-scenario-performance-report-generator.sh
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

fix-sonarQube errors
  deploy/reporting/generate_excel_report.py
  deploy/reporting/multi-scenario-performance-report-generator.sh
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

ipvcore: Add I7 spike test load profile
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

I7 Spike test load profile update
  deploy/scripts/src/mobile/statusList.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Auth&Orch: Add I7 spike test load profile
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

Add dynamic runtime profile for peak & spike test
  deploy/scripts/src/common/utils/config/dynamic-profiles.ts
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

Fixing SonarQube errors
  deploy/scripts/src/common/utils/config/dynamic-profiles.ts
Owners: @govuk-one-login/performance-testers

Add Silent Login script in TICF
  deploy/scripts/src/fraud/ticf.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

Add load profiles for Silent Login
  deploy/scripts/src/fraud/ticf.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

EVCS: Add I8 PEAK test load profile
  deploy/scripts/src/bravo/vc-storage.ts
Owners: @govuk-one-login/performance-testers

QA-1467:I8 peak profile update
  deploy/scripts/src/cimit/test.ts
Owners: @govuk-one-login/performance-testers

Add setup function in TICF CRI script
  deploy/scripts/src/fraud/ticf.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

SPOT: Add I8 PEAK test load profile
  deploy/scripts/src/spot/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/trust-and-reuse-team

QA-1471:SIS I8 Peak Profile Update
  deploy/scripts/src/sis/test.ts
Owners: @govuk-one-login/performance-testers

QA-1475: I8 Peak Profile Update for AIS
  deploy/scripts/src/ais/test.ts
Owners: @govuk-one-login/performance-testers

Auth&Orch: Add I8 PEAK test load profile
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

QA-1474 Add I8 Load profile for OLH
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Updated landing page throuput and Response time
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Update IAM permissions for PerformanceTester Role
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Add nameParts object in F2F_YOTI_START event
  deploy/scripts/src/cri-kiwi/requestGenerator/ipvrReqFormat.ts
  deploy/scripts/src/cri-kiwi/requestGenerator/ipvrReqGen.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

QA-1481:I8 Passport Peak Profile Update
  deploy/scripts/src/cri-lime/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-lime-team

IPVCore:Add I8 Peak test load profile
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

QA-1486 add Peak Test Load profile for Address
  deploy/scripts/src/cri-orange/address.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

QA-1487:I8 KBV Peak profile update
  deploy/scripts/src/cri-orange/kbv.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

Add Refresh Token Exchange stpes in the Authentication scenario
  deploy/scripts/src/mobile/sts.ts
  deploy/scripts/src/mobile/sts/testSteps/backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Remove old code for Refresh Token Exchange and Data Creation
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Add script for Account Intervention scenario
  deploy/scripts/src/mobile/sts.ts
  deploy/scripts/src/mobile/sts/utils/config.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Add permissions for STS Dev and Build
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Add Raw Data API access script
  deploy/scripts/src/fraud/ticf.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

QA-1493:I8 DCMAW V1 peak profile update
  deploy/scripts/src/mobile/fe-be-combine-e2e.test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Address review comments
  .pre-commit-config.yaml
  deploy/scripts/src/mobile/README.md
  deploy/scripts/src/mobile/data/sts-refresh-token-test-data-BUILD.csv
  deploy/scripts/src/mobile/data/sts-refresh-token-test-data-DEV.csv
  deploy/scripts/src/mobile/sts.ts
  deploy/scripts/src/mobile/sts/utils/config.ts
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Further changes in the raw data api script
  deploy/scripts/src/fraud/ticf.ts
  deploy/template.yaml
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team, @govuk-one-login/dev-platform

Fix Raw Data Request body
  deploy/scripts/src/fraud/ticf.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

Add I8 profile for Fraud scenarios
  deploy/scripts/src/fraud/ticf.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

QA-1495 I8 Add Peak Test for ID Check Async
  deploy/scripts/src/mobile-id-check-async/test.ts
Owners: @govuk-one-login/performance-testers

Adding I8 spike test profile
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

Use the correct spike test function
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

Fix linting error
  deploy/scripts/package-lock.json
  deploy/scripts/package.json
Owners: @govuk-one-login/performance-testers

Update k6 version to build extension
  deploy/Dockerfile
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

.github/CODEOWNERS:

# Global owners
* @govuk-one-login/dev-platform @govuk-one-login/performance-testers

# Test Scripts
/deploy/scripts @govuk-one-login/performance-testers

# Team Specific Test Script Directories
/deploy/scripts/src/accounts @govuk-one-login/performance-testers @govuk-one-login/bravo-team
/deploy/scripts/src/authentication @govuk-one-login/performance-testers
/deploy/scripts/src/btm @govuk-one-login/performance-testers @govuk-one-login/btm
/deploy/scripts/src/cri-kiwi @govuk-one-login/performance-testers @govuk-one-login/kiwi-devs
/deploy/scripts/src/cri-lime @govuk-one-login/performance-testers @govuk-one-login/cri-lime-team
/deploy/scripts/src/cri-orange @govuk-one-login/performance-testers @govuk-one-login/cri-orange-team
/deploy/scripts/src/fraud @govuk-one-login/performance-testers @govuk-one-login/fraud-ssf-team
/deploy/scripts/src/ipv-core @govuk-one-login/performance-testers @govuk-one-login/core-team
/deploy/scripts/src/mobile @govuk-one-login/performance-testers @govuk-one-login/mobile-id-check-backend
/deploy/scripts/src/spot @govuk-one-login/performance-testers @govuk-one-login/trust-and-reuse-team
/deploy/scripts/src/txma @govuk-one-login/performance-testers @govuk-one-login/txma-team
