Repository govuk-one-login/performance-testing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers, @govuk-one-login/bravo-team, @govuk-one-login/btm, @govuk-one-login/kiwi-devs, @govuk-one-login/cri-lime-team, @govuk-one-login/cri-orange-team, @govuk-one-login/fraud-ssf-team, @govuk-one-login/core-team, @govuk-one-login/mobile-id-check-backend, @govuk-one-login/trust-and-reuse-team, @govuk-one-login/txma-team

QA-1623: Fix Prettier formatting in KBV script
  deploy/scripts/src/cri-orange/kbv.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

QA-1623: updated I9 profile to KBV
  deploy/scripts/src/cri-orange/kbv.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

Update stress test load profiles to align test durations
  deploy/scripts/src/common/utils/config/load-profiles.ts
Owners: @govuk-one-login/performance-testers

Update the function call in CIMIT script
  deploy/scripts/src/trust-and-reuse/cimit.ts
Owners: @govuk-one-login/performance-testers

Update the stress test function call in EVCS SIS script
  deploy/scripts/src/trust-and-reuse/evcs-sis.ts
Owners: @govuk-one-login/performance-testers

Fix code duplication in stress test functions
  deploy/scripts/src/common/utils/config/load-profiles.ts
Owners: @govuk-one-login/performance-testers

QA-1623 c2: Update stressTestProfiles new config
  deploy/scripts/src/cri-orange/kbv.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

Add stressTestProfile to SPOT Script
  deploy/scripts/src/trust-and-reuse/spot.ts
Owners: @govuk-one-login/performance-testers

Update SPOT script with additional change
  deploy/scripts/src/trust-and-reuse/spot.ts
Owners: @govuk-one-login/performance-testers

QA-1636 I9 Stress test profile for AIS
  deploy/scripts/src/ais/test.ts
Owners: @govuk-one-login/performance-testers

QA-1637: I9 OLH Stress Profile update
  deploy/scripts/src/common/utils/config/load-profiles.ts
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Added Stress test load profile
  deploy/scripts/src/cri-lime/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-lime-team

Added Dynamic Profile usage guide
  deploy/scripts/src/common/utils/config/DYNAMIC_PROFILES_USAGE_GUIDE.md
Owners: @govuk-one-login/performance-testers

Changed timeunit to 60s
  deploy/scripts/src/common/utils/config/load-profiles.ts
Owners: @govuk-one-login/performance-testers

Correct the OLH test targets
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

QA-1645 I9 Address Stress Test profile
  deploy/scripts/src/cri-orange/address.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

QA-1649 I9 Stress test for IPVCOre
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

Add stress test profile for TICF CRI
  deploy/scripts/src/fraud/ticf.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

../scripts/src/cri-lime/test.ts
  deploy/scripts/src/cri-lime/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-lime-team

QA-1653 Add I9 stress Test profile
  deploy/scripts/src/cri-kiwi/f2f-cic.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

QA-1653 corrected typo, missing comma
  deploy/scripts/src/cri-kiwi/f2f-cic.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

Add stress test profile for Auth scenarios
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

Updated the phased ramp up delay for Sign In
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

QA-1657 : Add I9 Stress test profile NINOCheck
  deploy/scripts/src/cri-orange/nino-check.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

QA-1658 I9 Stress Test profile for useridentity
  deploy/scripts/src/trust-and-reuse/sis.ts
Owners: @govuk-one-login/performance-testers

QA-1660 Add I9Stress Prof to IDSync
  deploy/scripts/src/mobile-id-check-async/test.ts
Owners: @govuk-one-login/performance-testers

FixL lint: add space after comma funct param
  deploy/scripts/src/mobile-id-check-async/test.ts
Owners: @govuk-one-login/performance-testers

Adjust hold time value from 161 to 162
  deploy/scripts/src/mobile-id-check-async/test.ts
Owners: @govuk-one-login/performance-testers

QA-1661 Add I9 Stress test profile for DCMAW
  deploy/scripts/src/mobile/fe-be-combine-e2e.test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Update k6 version in extension build
  deploy/Dockerfile
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

QA-1663 Replace setupVendorResponse with latest
  deploy/scripts/src/mobile/fe-be-combine-e2e.test.ts
  deploy/scripts/src/mobile/testSteps/backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Correct the JSON property
  deploy/scripts/src/mobile/testSteps/backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA-1664 I9 stress test profile for STS
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA-1665 Add I9 StressProfile to Mobile BE
  deploy/scripts/src/mobile/mobile-backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA-1665 fix I9 StressProfile in Mobile BE
  deploy/scripts/src/mobile/mobile-backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA-1671 Add I9 stress test profile for IPVR
  deploy/scripts/src/cri-kiwi/ipvr.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

QA-1672 Add I9 StressProf to ClientEnrichment
  deploy/scripts/src/txma/clientEnrichment.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/txma-team

QA-1672 fix I9 StressProf for ClientEnrichment
  deploy/scripts/src/txma/clientEnrichment.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/txma-team

Update setupBiometricSessionByScenario function
  deploy/scripts/src/mobile/testSteps/backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Update function call in V1 script
  deploy/scripts/src/mobile/fe-be-combine-e2e.test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

.github/CODEOWNERS:

# Global owners
* @govuk-one-login/dev-platform @govuk-one-login/performance-testers

# Test Scripts
/deploy/scripts @govuk-one-login/performance-testers

# Team Specific Test Script Directories
/deploy/scripts/src/accounts @govuk-one-login/performance-testers @govuk-one-login/bravo-team
/deploy/scripts/src/authentication @govuk-one-login/performance-testers
/deploy/scripts/src/btm @govuk-one-login/performance-testers @govuk-one-login/btm
/deploy/scripts/src/cri-kiwi @govuk-one-login/performance-testers @govuk-one-login/kiwi-devs
/deploy/scripts/src/cri-lime @govuk-one-login/performance-testers @govuk-one-login/cri-lime-team
/deploy/scripts/src/cri-orange @govuk-one-login/performance-testers @govuk-one-login/cri-orange-team
/deploy/scripts/src/fraud @govuk-one-login/performance-testers @govuk-one-login/fraud-ssf-team
/deploy/scripts/src/ipv-core @govuk-one-login/performance-testers @govuk-one-login/core-team
/deploy/scripts/src/mobile @govuk-one-login/performance-testers @govuk-one-login/mobile-id-check-backend
/deploy/scripts/src/spot @govuk-one-login/performance-testers @govuk-one-login/trust-and-reuse-team
/deploy/scripts/src/txma @govuk-one-login/performance-testers @govuk-one-login/txma-team
