Repository govuk-one-login/performance-testing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers, @govuk-one-login/bravo-team, @govuk-one-login/btm, @govuk-one-login/kiwi-devs, @govuk-one-login/cri-lime-team, @govuk-one-login/cri-orange-team, @govuk-one-login/fraud-ssf-team, @govuk-one-login/core-team, @govuk-one-login/mobile-id-check-backend, @govuk-one-login/trust-and-reuse-team, @govuk-one-login/txma-team

.github/CODEOWNERS:

# Global owners
* @govuk-one-login/dev-platform @govuk-one-login/performance-testers

# Test Scripts
/deploy/scripts @govuk-one-login/performance-testers

# Team Specific Test Script Directories
/deploy/scripts/src/accounts @govuk-one-login/performance-testers @govuk-one-login/bravo-team
/deploy/scripts/src/authentication @govuk-one-login/performance-testers
/deploy/scripts/src/btm @govuk-one-login/performance-testers @govuk-one-login/btm
/deploy/scripts/src/cri-kiwi @govuk-one-login/performance-testers @govuk-one-login/kiwi-devs
/deploy/scripts/src/cri-lime @govuk-one-login/performance-testers @govuk-one-login/cri-lime-team
/deploy/scripts/src/cri-orange @govuk-one-login/performance-testers @govuk-one-login/cri-orange-team
/deploy/scripts/src/fraud @govuk-one-login/performance-testers @govuk-one-login/fraud-ssf-team
/deploy/scripts/src/ipv-core @govuk-one-login/performance-testers @govuk-one-login/core-team
/deploy/scripts/src/mobile @govuk-one-login/performance-testers @govuk-one-login/mobile-id-check-backend
/deploy/scripts/src/spot @govuk-one-login/performance-testers @govuk-one-login/trust-and-reuse-team
/deploy/scripts/src/txma @govuk-one-login/performance-testers @govuk-one-login/txma-team

QA=1562 Added Passport DLand DLAttst to I8 spike
  deploy/scripts/src/cri-lime/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-lime-team

QA-1565:Mobile IDCheckV2 Spike Profile Update
  deploy/scripts/src/mobile-id-check-async/test.ts
Owners: @govuk-one-login/performance-testers

HMRC: Add I8 Spike test load profile
  deploy/scripts/src/cri-orange/nino-check.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

KBV: Add I8 Spike test load profile
  deploy/scripts/src/cri-orange/kbv.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

KBV: Updated I8 Spike test load profile
  deploy/scripts/src/cri-orange/kbv.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

StatusList:Add Git StatusList call
  deploy/scripts/src/mobile/status-list/data/statusListIds.csv
  deploy/scripts/src/mobile/statusList.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

StatusList:Add CRS URL to config
  deploy/scripts/src/mobile/status-list/utils/config.ts
  deploy/scripts/src/mobile/statusList.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Add CRSUrl envVar path CF template
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Separate getStatusList func & update groupmaps
  deploy/scripts/src/mobile/statusList.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Use random statusListId selection
  deploy/scripts/src/mobile/statusList.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Fix linting error
  deploy/scripts/src/mobile/statusList.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Update target throughput for Issue & Revoke
  deploy/scripts/src/mobile/statusList.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA-1576:I8 Spike profile update
  deploy/scripts/src/trust-and-reuse/evcs-sis.ts
Owners: @govuk-one-login/performance-testers

StatusList:Add 55min I8 peak test load profile
  deploy/scripts/src/mobile/statusList.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Update the raw data script to use S3
  deploy/scripts/src/common/utils/jslib/aws-s3.d.ts
  deploy/scripts/src/fraud/testDataPoc.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

Updated raw data script to fetch from S3
  deploy/scripts/src/fraud/rawData.ts
  deploy/scripts/src/fraud/testDataPoc.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

Remove the test data POC file with duplicate code
  deploy/scripts/src/fraud/testDataPoc.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

Add S3 JS library
  deploy/scripts/src/common/utils/jslib/aws-s3.js
Owners: @govuk-one-login/performance-testers

Remove commented code
  deploy/scripts/src/fraud/rawData.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

Removed raw data api scenario from TICF script
  deploy/scripts/src/fraud/ticf.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

Remove Raw Data test data related environmnent variables from CF template
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Update env var name for consistency
  deploy/scripts/src/fraud/rawData.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

Add new environment variables in the CF template
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

CRI-KIWI-CIC&F2F:Add I8 spike test load profile
  deploy/scripts/src/cri-kiwi/f2f-cic.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

Update k6 version in the build extension step
  deploy/Dockerfile
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

QA-1579: I8 Kiwi BAV Spike profile update
  deploy/scripts/src/cri-kiwi/BAV.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

CIC:Update redirect_uri to fix the script failure
  deploy/scripts/src/cri-kiwi/f2f-cic.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

QA-1579: I8 KIWI BAV - Profile update
  deploy/scripts/src/cri-kiwi/BAV.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

Updated the snapshot reference
  koa-stub/src/tests/__snapshots__/app.test.js.snap
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

IPVRBE:Add I8 spike test load profile
  deploy/scripts/src/cri-kiwi/ipvr.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

WIP: KBV spike sudden test profile
  deploy/scripts/src/cri-orange/kbv.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

Enhanced raw data API script
  deploy/scripts/src/fraud/rawData.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

Update Raw data API test data approach
  deploy/scripts/src/fraud/rawData.ts
  deploy/template.yaml
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team, @govuk-one-login/dev-platform

QA-1586:Kiwi F2F Spike profile update
  deploy/scripts/src/cri-kiwi/f2f-cic.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

IPVRBE:Increase sleep time from 5s to 10s
  deploy/scripts/src/cri-kiwi/ipvr.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

Fixed jest method
  koa-stub/src/tests/app.test.js
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Updated snapshot
  koa-stub/src/tests/__snapshots__/app.test.js.snap
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

QA-1594:I8 ESP & AS Spike Test
  deploy/scripts/src/txma/clientEnrichment.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/txma-team

IPVCore:Add PIP step & fix timing
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

idReuse: Fix error & testdata by iteration
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team
