Repository govuk-one-login/performance-testing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers, @govuk-one-login/bravo-team, @govuk-one-login/btm, @govuk-one-login/kiwi-devs, @govuk-one-login/cri-lime-team, @govuk-one-login/cri-orange-team, @govuk-one-login/fraud-ssf-team, @govuk-one-login/core-team, @govuk-one-login/mobile-id-check-backend, @govuk-one-login/trust-and-reuse-team, @govuk-one-login/txma-team

Fix redirect step in the FE-BE combined script
  deploy/scripts/src/mobile/fe-be-combine-e2e.test.ts
  deploy/scripts/src/mobile/testSteps/frontend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Add Iteration 10 peak test profile
  deploy/scripts/src/mobile/fe-be-combine-e2e.test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

ESM Conversion - Update package.json
  koa-stub/src/package-lock.json
  koa-stub/src/package.json
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

ESM Conversion - Remove Babel Config
  koa-stub/src/babel.config.json
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Upgrade lambda run time to node 22 in CF template
  koa-stub/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Migrate from jest to vitest
  koa-stub/src/package-lock.json
  koa-stub/src/package.json
  koa-stub/src/tests/__snapshots__/app.test.js.snap
  koa-stub/src/tests/app.test.js
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

ESM conversion - App.js
  koa-stub/src/app.js
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

ESM conversion - Controllers
  koa-stub/src/controllers/callback.controller.js
  koa-stub/src/controllers/logout.controller.js
  koa-stub/src/controllers/start.controller.js
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

ESM conversion - Router
  koa-stub/src/router.js
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

ESM conversion - Set up and Handler
  koa-stub/src/serverless.js
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

ESM conversion - setUpClient Util
  koa-stub/src/utils/onelogin.util.js
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

QA-1783 Add i10 peak test profile for status list
  deploy/scripts/src/mobile/statusList.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Mobile BE add 110 load profile
  deploy/scripts/src/mobile/mobile-backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Add I10 peak test profiles for CIC and F2F
  deploy/scripts/src/cri-kiwi/f2f-cic.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

incorportaed the review comments
  deploy/scripts/src/cri-kiwi/ipvr.ts
  deploy/template.yaml
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs, @govuk-one-login/dev-platform

QA-1793:I10 Peak test profile update for ESP & AS
  deploy/scripts/src/txma/clientEnrichment.ts
  deploy/scripts/src/txma/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/txma-team

Addressed additional review comments
  deploy/scripts/src/cri-kiwi/ipvr.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

QA-1795 Add I10 Peak test profile for IPVR
  deploy/scripts/src/cri-kiwi/ipvr.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

QA-1797:Add I10 OLH Spike Profile
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Corrected iteration duration
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Reducing the status api performance tests to a single aws sigv4 request. this mirrors the direction of travel of the team.
  deploy/scripts/src/mobile/status-list/utils/config.ts
  deploy/scripts/src/mobile/statusList.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Removing env STATUS_LIST_PROXY_API
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

QA-1801 craete spike profile and I10 spike profile
  deploy/scripts/src/common/utils/config/load-profiles.ts
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

updated the phase delay
  deploy/scripts/src/common/utils/config/load-profiles.ts
Owners: @govuk-one-login/performance-testers

updated the phase delay
  deploy/scripts/src/common/utils/config/load-profiles.ts
Owners: @govuk-one-login/performance-testers

Corrected the phase delays in the function
  deploy/scripts/src/common/utils/config/load-profiles.ts
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

Corrected the variable names
  deploy/scripts/src/common/utils/config/load-profiles.ts
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

Corrected the the Spike test profile more generic
  deploy/scripts/src/common/utils/config/load-profiles.ts
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

Tidying up
  koa-stub/src/controllers/callback.controller.js
  koa-stub/src/controllers/logout.controller.js
  koa-stub/src/controllers/start.controller.js
  koa-stub/src/package-lock.json
  koa-stub/src/tests/app.test.js
  koa-stub/src/utils/onelogin.util.js
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Fixed cookie handling.
  koa-stub/src/controllers/logout.controller.js
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

vi.restoreAllMocks() is now in an afterEach hook, ensuring mocks are always cleaned up regardless of test pass/fail, rather than relying on a manual call at the start of the next test.
  koa-stub/src/tests/app.test.js
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

removed unused variable for oidc_url
  koa-stub/src/tests/app.test.js
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Updating to add informational comment regarding insecureRequests
  koa-stub/src/utils/onelogin.util.js
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

articulating the delay reasons
  koa-stub/src/tests/app.test.js
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Fixed eslint config
  koa-stub/src/eslint.config.mjs
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Updated to fix empty blocks caused by console.log removal
  koa-stub/src/controllers/callback.controller.js
  koa-stub/src/tests/app.test.js
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Updated to node v24
  koa-stub/.nvmrc
  koa-stub/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Updated instructions to avoid docker networking quirks
  koa-stub/README.md
  koa-stub/example.json
  koa-stub/src/mock-oidc.js
  koa-stub/src/package.json
  koa-stub/src/server.js
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Added some request logging
  koa-stub/src/app.js
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Fixed instructions
  koa-stub/README.md
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

.github/CODEOWNERS:

# Global owners
* @govuk-one-login/dev-platform @govuk-one-login/performance-testers

# Test Scripts
/deploy/scripts @govuk-one-login/performance-testers

# Team Specific Test Script Directories
/deploy/scripts/src/accounts @govuk-one-login/performance-testers @govuk-one-login/bravo-team
/deploy/scripts/src/authentication @govuk-one-login/performance-testers
/deploy/scripts/src/btm @govuk-one-login/performance-testers @govuk-one-login/btm
/deploy/scripts/src/cri-kiwi @govuk-one-login/performance-testers @govuk-one-login/kiwi-devs
/deploy/scripts/src/cri-lime @govuk-one-login/performance-testers @govuk-one-login/cri-lime-team
/deploy/scripts/src/cri-orange @govuk-one-login/performance-testers @govuk-one-login/cri-orange-team
/deploy/scripts/src/fraud @govuk-one-login/performance-testers @govuk-one-login/fraud-ssf-team
/deploy/scripts/src/ipv-core @govuk-one-login/performance-testers @govuk-one-login/core-team
/deploy/scripts/src/mobile @govuk-one-login/performance-testers @govuk-one-login/mobile-id-check-backend
/deploy/scripts/src/spot @govuk-one-login/performance-testers @govuk-one-login/trust-and-reuse-team
/deploy/scripts/src/txma @govuk-one-login/performance-testers @govuk-one-login/txma-team
