Repository govuk-one-login/performance-testing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers, @govuk-one-login/bravo-team, @govuk-one-login/btm, @govuk-one-login/kiwi-devs, @govuk-one-login/cri-lime-team, @govuk-one-login/cri-orange-team, @govuk-one-login/fraud-ssf-team, @govuk-one-login/core-team, @govuk-one-login/mobile-id-check-backend, @govuk-one-login/trust-and-reuse-team, @govuk-one-login/txma-team

Add I7 peak test profile for EVCS scenarios
  deploy/scripts/src/bravo/vc-storage.ts
Owners: @govuk-one-login/performance-testers

Add I7 peak test profile for SPOT scenarios
  deploy/scripts/src/spot/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/trust-and-reuse-team

Add I7 peak test profile for CIMIT scenarios
  deploy/scripts/src/cimit/test.ts
Owners: @govuk-one-login/performance-testers

QA-1386: I7 Profile update
  deploy/scripts/src/cri-lime/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-lime-team

Add I7 peak test profile for AIS scenarios
  deploy/scripts/src/ais/test.ts
Owners: @govuk-one-login/performance-testers

QA-1388: Lime DL&DLA I7 Peak profile update
  deploy/scripts/src/cri-lime/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-lime-team

Add I7 peak test load profile for BAV
  deploy/scripts/src/cri-kiwi/BAV.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

QA-1390: I7 Lime Fraud peak profile update
  deploy/scripts/src/cri-lime/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-lime-team

Add I7 peak test load profile for CIC & F2F
  deploy/scripts/src/cri-kiwi/f2f-cic.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

Update Status List scripts with latest changes
  deploy/scripts/src/mobile/status-list/test.ts
  deploy/scripts/src/mobile/status-list/utils/config.ts
  deploy/scripts/src/mobile/status-list/utils/issueResponseValidation.ts
  deploy/scripts/src/mobile/statusList.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Update environment variable config
  deploy/scripts/src/mobile/status-list/utils/config.ts
  deploy/scripts/src/mobile/statusList.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Update CloudFormation Template with parameter store variables
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Add I7 peak test load profile for IPVR
  deploy/scripts/src/cri-kiwi/ipvr.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

Updating passport profile to resolve conflict
  deploy/scripts/src/cri-lime/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-lime-team

Add Threshold for the groupMap
  deploy/scripts/src/mobile/statusList.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

fix lint removal in package-lock file
  deploy/scripts/package-lock.json
Owners: @govuk-one-login/performance-testers

Add I7 peak test load profile for TiCF-CRI
  deploy/scripts/src/fraud/ticf.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/fraud-ssf-team

Fix Code smell
  deploy/scripts/src/mobile/status-list/payloadGen/generator.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Add generatory functions and Types in a util folder
  deploy/scripts/src/sis/utils/requestGenerator.ts
  deploy/scripts/src/sis/utils/types.ts
Owners: @govuk-one-login/performance-testers

Update SIS scripts based on the user journey
  deploy/scripts/src/sis/test.ts
Owners: @govuk-one-login/performance-testers

Remove request generator and types from old foler
  deploy/scripts/src/sis/request/generator.ts
  deploy/scripts/src/sis/request/types.ts
Owners: @govuk-one-login/performance-testers

Update CloudFormation template
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Fix code smell
  deploy/scripts/src/sis/test.ts
Owners: @govuk-one-login/performance-testers

Update environment name to lower case in the URL
  deploy/scripts/src/mobile/statusList.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Update the URL for revoke to use lowercase environment name
  deploy/scripts/src/mobile/statusList.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Update exchangeAuthorizationCode to include dpop
  deploy/scripts/src/mobile/sts.ts
  deploy/scripts/src/mobile/sts/testSteps/backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Address comment on key definition
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA-1410: Iteration 7 peak profile update
  deploy/scripts/src/mobile/fe-be-combine-e2e.test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Add smoke test profile for SIS User Identity:
  deploy/scripts/src/sis/test.ts
Owners: @govuk-one-login/performance-testers

Add I7 peak load profile for MobileIDcheckAsync
  deploy/scripts/src/mobile-id-check-async/test.ts
Owners: @govuk-one-login/performance-testers

Add mock token call for Identity EVCS Stub call
  deploy/scripts/src/sis/test.ts
Owners: @govuk-one-login/performance-testers

QA-1415:SIS I7 Peak profile update
  deploy/scripts/src/sis/test.ts
Owners: @govuk-one-login/performance-testers

Correct the path for Identity call to EVCS stub
  deploy/scripts/src/sis/test.ts
Owners: @govuk-one-login/performance-testers

Update checks for user identity call
  deploy/scripts/src/sis/test.ts
Owners: @govuk-one-login/performance-testers

Add load test profile for status list
  deploy/scripts/src/mobile/statusList.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA-1421 I7 Load profile for SIS User Identity
  deploy/scripts/src/sis/test.ts
Owners: @govuk-one-login/performance-testers

QA-1422:Mobile STS Combined I7 Profile Update
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Remove the status check from IPV stub call
  deploy/scripts/src/cri-kiwi/f2f-cic.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/kiwi-devs

Add I7 peak profile for WalletCombinedBE
  deploy/scripts/src/mobile/mobile-backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Fix Mobile Platform BE Wallet Credential Issuance script
  deploy/scripts/src/mobile/mobile-backend.ts
  deploy/scripts/src/mobile/mobile-backend/testSteps/backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

.github/CODEOWNERS:

# Global owners
* @govuk-one-login/dev-platform @govuk-one-login/performance-testers

# Test Scripts
/deploy/scripts @govuk-one-login/performance-testers

# Team Specific Test Script Directories
/deploy/scripts/src/accounts @govuk-one-login/performance-testers @govuk-one-login/bravo-team
/deploy/scripts/src/authentication @govuk-one-login/performance-testers
/deploy/scripts/src/btm @govuk-one-login/performance-testers @govuk-one-login/btm
/deploy/scripts/src/cri-kiwi @govuk-one-login/performance-testers @govuk-one-login/kiwi-devs
/deploy/scripts/src/cri-lime @govuk-one-login/performance-testers @govuk-one-login/cri-lime-team
/deploy/scripts/src/cri-orange @govuk-one-login/performance-testers @govuk-one-login/cri-orange-team
/deploy/scripts/src/fraud @govuk-one-login/performance-testers @govuk-one-login/fraud-ssf-team
/deploy/scripts/src/ipv-core @govuk-one-login/performance-testers @govuk-one-login/core-team
/deploy/scripts/src/mobile @govuk-one-login/performance-testers @govuk-one-login/mobile-id-check-backend
/deploy/scripts/src/spot @govuk-one-login/performance-testers @govuk-one-login/trust-and-reuse-team
/deploy/scripts/src/txma @govuk-one-login/performance-testers @govuk-one-login/txma-team
