Repository govuk-one-login/performance-testing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers, @govuk-one-login/bravo-team, @govuk-one-login/btm, @govuk-one-login/kiwi-devs, @govuk-one-login/cri-lime-team, @govuk-one-login/cri-orange-team, @govuk-one-login/fraud-ssf-team, @govuk-one-login/core-team, @govuk-one-login/mobile-id-check-backend, @govuk-one-login/trust-and-reuse-team, @govuk-one-login/txma-team

.github/CODEOWNERS:

# Global owners
* @govuk-one-login/dev-platform @govuk-one-login/performance-testers

# Test Scripts
/deploy/scripts @govuk-one-login/performance-testers

# Team Specific Test Script Directories
/deploy/scripts/src/accounts @govuk-one-login/performance-testers @govuk-one-login/bravo-team
/deploy/scripts/src/authentication @govuk-one-login/performance-testers
/deploy/scripts/src/btm @govuk-one-login/performance-testers @govuk-one-login/btm
/deploy/scripts/src/cri-kiwi @govuk-one-login/performance-testers @govuk-one-login/kiwi-devs
/deploy/scripts/src/cri-lime @govuk-one-login/performance-testers @govuk-one-login/cri-lime-team
/deploy/scripts/src/cri-orange @govuk-one-login/performance-testers @govuk-one-login/cri-orange-team
/deploy/scripts/src/fraud @govuk-one-login/performance-testers @govuk-one-login/fraud-ssf-team
/deploy/scripts/src/ipv-core @govuk-one-login/performance-testers @govuk-one-login/core-team
/deploy/scripts/src/mobile @govuk-one-login/performance-testers @govuk-one-login/mobile-id-check-backend
/deploy/scripts/src/spot @govuk-one-login/performance-testers @govuk-one-login/trust-and-reuse-team
/deploy/scripts/src/txma @govuk-one-login/performance-testers @govuk-one-login/txma-team

Dynamic-load-profile
  deploy/scripts/src/authentication/test.ts
  deploy/scripts/src/common/utils/config/dynamic-load-profiles.ts
Owners: @govuk-one-login/performance-testers

QA-1361 Testdata and Loadprofile for IPVcoreSISph2
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

Reverted the change which is not required
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

removed logging stmt which is for local Test data
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

Re-Auth data update and peak test profile change
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA-1303: corrected authentication rampup
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA-1303: corrected reauthentication throughput
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA-1303: corrected walletCred iteration duration
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA-1303: corrected rampup durations"
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Update k6 version in xk6 extension
  deploy/Dockerfile
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

pr comments updated
  deploy/reporting/DataGeneration.sh
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Description of the utility is refined
  deploy/reporting/DataGeneration.sh
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

QA-1364:Dynamic(EPOCH) journID for TXMA
  deploy/scripts/src/txma/clientEnrichment.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/txma-team

QA-1364:Added a prefix to diff_tiate the jornyid
  deploy/scripts/src/txma/clientEnrichment.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/txma-team

QA-1366 I7 peak load profile for IPV core
  deploy/scripts/src/ipv-core/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/core-team

Add I7 Peak test load profile
  deploy/scripts/src/authentication/test.ts
Owners: @govuk-one-login/performance-testers

Added generateRefreshTokenData flows
  deploy/scripts/src/mobile/sts.ts
  deploy/scripts/src/mobile/sts/testSteps/backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Add private key JWK as an environment variable
  deploy/scripts/src/mobile/sts.ts
  deploy/scripts/src/mobile/sts/utils/config.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA-1370 I7 Load profile changes for orange
  deploy/scripts/src/cri-orange/address.ts
  deploy/scripts/src/cri-orange/kbv.ts
  deploy/scripts/src/cri-orange/nino-check.ts
  deploy/scripts/src/cri-orange/otg.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/cri-orange-team

QA-1371: ESP&Audit I7 PeakProfile Update
  deploy/scripts/src/txma/clientEnrichment.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/txma-team

QA-1372:OLH I7 PeakProfile Update
  deploy/scripts/src/olh/test.ts
Owners: @govuk-one-login/performance-testers

Use dynatrace K6 extension
  deploy/Dockerfile
  deploy/otel-config-template.yaml
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Define exchangeRefreshTokenScenario
  deploy/scripts/src/mobile/sts.ts
  deploy/scripts/src/mobile/sts/testSteps/backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Generate refresh token test data csv file
  .pre-commit-config.yaml
  deploy/scripts/src/mobile/data/sts-refresh-token-test-data-DEV.csv
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Generate refresh token test data csv file in build
  deploy/scripts/src/mobile/data/sts-refresh-token-test-data-BUILD.csv
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Remove info logs
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Create keys object to resolve sonar issue
  deploy/scripts/src/mobile/sts.ts
  deploy/scripts/src/mobile/sts/testSteps/backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Add a comment to subject ID
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

align order of parameters
  deploy/scripts/src/mobile/sts.ts
  deploy/scripts/src/mobile/sts/testSteps/backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Remove parsedCsvData for readability
  deploy/scripts/src/mobile/sts.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Create function for returning public key
  deploy/scripts/src/mobile/sts.ts
  deploy/scripts/src/mobile/utils/crypto.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Update README to include instructions for refresh
  deploy/scripts/src/mobile/README.md
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Revert change to exisiting test
  deploy/scripts/src/mobile/sts.ts
  deploy/scripts/src/mobile/sts/testSteps/backend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

QA-1369: Status List Initial Draft
  deploy/scripts/src/status-list/generate-payload.ts
  deploy/scripts/src/status-list/test.ts
  deploy/template.yaml
Owners: @govuk-one-login/performance-testers, @govuk-one-login/dev-platform

QA-1368 SIS Phase2 test script
  deploy/scripts/src/sis/test.ts
Owners: @govuk-one-login/performance-testers

Changes in test.ts file
  deploy/scripts/src/status-list/generator.ts
  deploy/scripts/src/status-list/test.ts
Owners: @govuk-one-login/performance-testers

changes to perf tests for frontend removal of iphoneModel screen
  deploy/scripts/package-lock.json
  deploy/scripts/src/mobile/fe-be-combine-e2e.test.ts
  deploy/scripts/src/mobile/frontend-e2e.test.ts
  deploy/scripts/src/mobile/testSteps/frontend.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend

Refined the VC token signatures and script
  deploy/scripts/src/sis/test.ts
Owners: @govuk-one-login/performance-testers

Updated template yml file
  deploy/template.yaml
Owners: @govuk-one-login/dev-platform, @govuk-one-login/performance-testers

Update Status List Script
  deploy/scripts/src/mobile/status-list/payloadGen/generator.ts
  deploy/scripts/src/mobile/status-list/test.ts
  deploy/scripts/src/mobile/status-list/utils/issueResponse.ts
  deploy/scripts/src/status-list/generate-payload.ts
  deploy/scripts/src/status-list/test.ts
Owners: @govuk-one-login/performance-testers, @govuk-one-login/mobile-id-check-backend
